<footer class="app-footer text-center text-sm-start text-secondary py-3 mt-auto bg-white border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <strong>ลิขสิทธิ์ &copy; 2026 <%= locals.systemSettings?.app_name || 'Work Insight' %>.</strong> สงวนลิขสิทธิ์ทุกประการ
      </div>
      <div class="col-sm-6 text-sm-end">
        <b>เวอร์ชัน</b> 1.0.0-scaffold
      </div>
    </div>
  </div>
</footer>
