<footer class="main-footer text-center text-sm-start text-secondary py-3 mt-auto bg-white border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <strong>Copyright &copy; 2026 Work Insight.</strong> All rights reserved.
      </div>
      <div class="col-sm-6 text-sm-end">
        <b>Version</b> 1.0.0-scaffold
      </div>
    </div>
  </div>
</footer>
